:root {
  --white: #ffffff;
  --black: #000000;
  --background: #ededed;
  --dark: #030303;
}

.white {
    color: var(--white);
}

.black {
    color: var(--black);
}

.dark {
    color: var(--dark);
}