@import url("./Alignment.css");
@import url("./Color.css");
@import url("./Typography.css");
@import url("./Padding.css");

body,
html {
  margin: 0;
  padding: 0;
  user-select: none;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.canvas {
  padding: 0 20px;
  box-sizing: border-box;
  width: 390px;
  margin: 0 auto;
}

@font-face {
  font-family: Pretendard;
  src: url("../fonts/PretendardVariable.woff2");
}

:root {
  --main--900: #021e6d;
  --main--800: #032b84;
  --main--700: #063ea4;
  --main--600: #0853c4;
  --main--500: #0c6ce5;
  --main--400: #4598ef;
  --main--300: #6ab5f7;
  --main--200: #9cd3fc;
  --main--100: #cdebfd;
  --indicator---success: #6ab510;
  --indicator---success--light: #e9fbd3;
  --indicator---warning: #fc9607;
  --indicator---warning--light: #fff4cc;
  --indicator---danger: #ff382d;
  --indicator---danger--light: #ffe5d4;
  --grey--900: #181f28;
  --grey--800: #36485c;
  --grey--700: #53637b;
  --grey--600: #708095;
  --grey--500: #8993aa;
  --grey--400: #a2aac0;
  --grey--300: #bfc6d9;
  --grey--200: #d7dce7;
  --grey--100: #f2f4f6;
  font-family: Pretendard;
}