@import url("../../assets/styles/Global.css");

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more {
  width: 12rem;
  height: auto;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: var(--main-500);
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: var(--white);
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid var(--white);
  border-right: 0.125rem solid var(--white);
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: var(--grey-900);
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: var(--white);
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: var(--white);
}

.button {
  padding: 12px 24px;
  position: relative;
  background-color: transparent;
  overflow: hidden;
  border-radius: 12px;
  color: var(--white);
  background-color: var(--main-500);
  transition: all 0.5s ease-in-out;
}

.btn-txt {
  z-index: 1;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 14px;
}

.type1::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background-color: var(--main-500);
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}

.button:hover {
  box-shadow: 1px 1px 200px var(--main-500);
  color: var(--white);
  border: none;
  background-color: var(--main-500);
}

.type1:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}

.text-button {
  padding: 12px 24px;
  background-color: none;
  transition: all 0.3s;
  border-radius: 12px;
  color: var(--grey-900);
  transition: all 0.5s ease;
}

.text-button:active,
.text-button:hover {
  background-color: var(--main-500);
  color: var(--white);
  transition: all 0.5s ease;
  box-shadow: 1px 1px 200px var(--main-500);
}

.btn-container-right {
  display: flex;
  justify-content: center;
}

.btn-container-left {
  display: flex;
  justify-content: center;
  transform: rotate(180deg);
}

.btn-content {
  display: flex;
  align-items: center;
  padding: 0px 3px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  color: var(--main-500);
  background: var(--main-200);
  transition: 1s;
  border-radius: 100px;
  box-shadow: 0 0 0.2em 0 var(--main-500);
}

.btn-content:hover,
.btn-content:focus {
  transition: 0.5s;
  -webkit-animation: btn-content 1s;
  animation: btn-content 1s;
  outline: 0.1em solid transparent;
  outline-offset: 0.2em;
  background: var(--main-500);
  box-shadow: 0 0 0.4em 0 var(--main-500);
}

.btn-content .icon-arrow {
  transition: 0.5s;
  margin-right: 0px;
  transform: scale(0.6);
}

.btn-content:hover .icon-arrow {
  transition: 0.5s;
  margin-right: 25px;
}

.icon-arrow {
  width: 20px;
  margin-left: 15px;
  position: relative;
  top: 6%;
}

/* SVG */
#arrow-icon-one {
  transition: 0.4s;
  transform: translateX(-60%);
}

#arrow-icon-two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.btn-content:hover #arrow-icon-three {
  animation: color_anim 1s infinite 0.2s;
}

.btn-content:hover #arrow-icon-one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.btn-content:hover #arrow-icon-two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */
@keyframes color_anim {
  0% {
    fill: var(--white);
  }

  50% {
    fill: var(--main-500);
  }

  100% {
    fill: var(--main-500);
  }
}

/* Button animations */
@-webkit-keyframes btn-content {
  0% {
    outline: 0.2em solid var(--main-500);
    outline-offset: 0;
  }
}

@keyframes btn-content {
  0% {
    outline: 0.2em solid var(--main-500);
    outline-offset: 0;
  }
}

.button-plus {
  position: relative;
  width: 100%;
  height: 32px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: var(--grey-700);
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.7s;
}

.button-plus,
.button-plus__icon,
.button-plus__text {
  transition: all 0.3s;
}

.button-plus .button-plus__text {
  margin: 0 auto;
  color: var(--grey-200);
  font-weight: 500;
  font-size: 14px;
  font-family: Pretendard;
}

.button-plus .button-plus__icon {
  position: absolute;
  transform: translateX(50%);
  height: 100%;
  width: 39px;
  background-color: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-plus .svg {
  display: none;
}

.button-plus:hover .svg {
  width: 20px;
  fill: var(--grey-200);
  display: block;
}

.button-plus:hover {
  background: var(--grey-200);
}

.button-plus:hover .button-plus__text {
  color: transparent;
}

.button-plus:hover .button-plus__icon {
  width: 100%;
  transform: translateX(0);
  background-color: var(--grey-200);
}