@import url("../../assets/styles/Global.css");

.card {
  width: 320px;
  max-height: 480px;
  min-height: 480px;
  border-radius: 16px;
  padding: 20px;
  box-sizing: border-box;
  z-index: 1;
  box-shadow: 1px 2px 4px 0px var(--main-shade);
  margin: 5px;
  transition: all 0.3s;
}

.card-container {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 8px
}

.card:hover {
  box-shadow: none;
  transition: all 0.3s;
}

.tools {
  display: flex;
  align-items: center;
}

.circle {
  padding: 0 4px;
}

.box {
  display: inline-block;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 1px;
  border-radius: 50%;
}

.red {
  background-color: #ff605c;
}

.yellow {
  background-color: #ffbd44;
}

.green {
  background-color: #00ca4e;
}
